<launch>
  <!-- Parameters -->
  <arg name="calib_path" default="$(find kinect_calib)/../../../data/kinect_calib/calibration"/> 
  <arg name="manager_name" default="rgbd_manager"/>

  <!-- Nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="$(arg manager_name)" args="manager" output="screen"/>

  <!-- Driver nodelet -->      
  <include file="$(find kinect_calib)/launch/include/device.launch">       
     <arg name="manager_name" value="$(arg manager_name)" />
     <arg name="calib_path"   value="$(arg calib_path)" />
  </include>

  <!-- Image processing nodelets -->      
  <include file="$(find kinect_calib)/launch/include/image_proc.launch">       
     <arg name="manager_name" value="$(arg manager_name)" />
  </include>

  <!-- Depth registration nodelets -->
  <include file="$(find kinect_calib)/launch/include/depth_proc.launch">       
     <arg name="manager_name" value="$(arg manager_name)" />
  </include>

  <!-- Publish transformation between rgb and depth -->
  <node name="publish_transform" pkg="kinect_calib" type="publish_transform.py" output="screen">       
     <param name="depth_optical_frame_name" value="camera_depth_optical_frame" />
     <param name="rgb_optical_frame_name" value="camera_rgb_optical_frame" />
     <param name="transform_file" value="$(arg calib_path)/trans.yml" />
  </node>
</launch>
